mixin icon(name)
  case name
    when 'twitter'
      span.Icon: include svg/twitter.svg
    when 'facebook'
      span.Icon: include svg/facebook.svg
    when 'instagram'
      span.Icon: include svg/instagram.svg
    when 'googleplus'
      span.Icon: include svg/googleplus.svg
