html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE-edge")
    title metly

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="metly web site")
    meta(name="keywords" content="metly")
    meta(name="Author" content="TakesxiSximada")

    // facebook and twitter integrtions
    meta(property="og:title" content="")
    meta(property="og:image" content="")
    meta(property="og:url" content="")
    meta(property="og:site_name" content="")
    meta(property="og:description" content="")
    meta(name="twitter:title" content="")
    meta(name="twitter:image" content="")
    meta(name="twitter:url" content="")
    meta(name="twitter:card" content="")

    link(ohref="/images/favicon.ico" rel="shortcut icon")
    link(href="index.css"  rel="stylesheet" type="text/css")

  body
    div.MenuButton

    header
      h1 Metly

      nav.Menu
        ul
          li: a(href="#") Products
          li: a(href="#") Services
          li: a(href="#") Pricing
          li: a(href="#") About
          li: a(href="#") Contact
          li: a(href="#") Get Started
    aside
      ul
        li Start Your Startup With This Template
        li Take Your Business To The Next Level
        li We Think Different That Others Can't
      p Get Strted

    div
      section
        h1 Why Choose Use
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        p Learn more

      section
        h1 Strategy
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
        p Learn more

      section
        h1 Expertise
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
        p Learn more


    div
      section
        h1 Happy Clients
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

      blockquote
        p &ldquo; She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of. &rdquo;

      blockquote
        p &ldquo; Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. She had a last view back on the skyline of her hometown Bookmarksgrove, the headline of. &rdquo;

      blockquote
        p &ldquo; The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. S	he had a last view back on the skyline of her hometown Bookmarksgrove. &rdquo;

    section
      h1 Awesome Products
      p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

    div
      section
        h1 Geographical App
        p Application

      section
        h1 Communication App
        p Web Application

    div
      section
        h1 Golf Club Tracker
        p Web Application

    div
      section
        h1 Latest <em>from</em> Blog
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

    div
      section
        h1 We Create Awesome Free Templates
        span June 8, 2016
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

      section
        h1 Handcrafted Using CSS3 &amp; HTML5
        span June 8, 2016
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

      section
        h1 We Try To Update The Site Everyday
        span June 8, 2016
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

      div View More Posts <i class="icon-arrow-right"></i>

    div
      section
        h1 We Try To Update The Site Everyday
        p Get started now! <i class="icon-arrow-right"></i>


    footer
      section
        h1 About Us
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        p I'm button <i class="icon-arrow-right"></i>

      section
        h1 Our Services
        ul
          li: a(href="#") Web Design
          li: a(href="#") Branding &amp; Identity
          li: a(href="#") Free HTML5
          li: a(href="#") HandCrafted Templates

        ul
          li: a(href="#") Free Bootstrap Template
          li: a(href="#") Free HTML5 Template
          li: a(href="#") Free HTML5 &amp; CSS3 Template
          li: a(href="#") HandCrafted Templates

      section
        h1 Follow Us
        ul
          li: a(href="#") <i class="icon-twitter"></i>
          li: a(href="#") <i class="icon-facebook"></i>
          li: a(href="#") <i class="icon-google-plus"></i>
          li: a(href="#") <i class="icon-instagram"></i>

    div
      script(src="/js/index.bundle.js")
